/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
 body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: #6091C3;
}

ul {
    list-style: none;
    display: inline-block;
    position: relative;
}

li {
    display: inline-block;
    position: absolute;
}

.portion {
    height: 100px;
    width: 300px;
    background-color: white;
    transform: translateX(200px);
    overflow:hidden;
}

img {
    display:block;
}

.arrow-left {
    position: absolute;
    top: 55px;
    left: 200px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: black;
    display: block;
    z-index: 10;
  }

.arrow-right {
    position: absolute;
    top: 55px;
    left: 515px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: black;
    display: block;
  }

.carousel {
    transform: translateY(200px);
}