.leaflet-container {
    height: 400px; 
    width: 400px; 
    left: 100px;
    top: 50px;
    display: flex;
}



li {
    height: 150px;
    width: 430px;
    margin: 40px;
    padding:10px 12px;
    justify-content: space-between;
    background-color:lightblue;
    margin: -4px; 
    margin-bottom: 40px; 
    margin-top: 20px;
}

span {
    display: block;
}